body {
  font-family: "Futura";
}

.intro-container {
    margin-top: 100px;
    font-size: 1em;
    width: 100%;
    font-family: 'Segoe UI';
    border-top-color: #000000;
    border-top-style: solid;
    border-top-width: 5px;
}
.web1-container {
  color: #000;
  width: 100%;
}
.web2-container {
    color: #034078;
    width: 100%;
}

.android-container {
    width: 100%;
    color: #034078

}

.ios-container {
    width: 100%;
    height: 18cm;
}

.text-container {
    background-color: transparent;
    height: 50%;
    width: 100%;
    font-size: 3.8em;
    font-weight: bold;
    margin-left: 0.5em;
    color: #034078;
}
.headup {

  font-style: italic;
  font-size: 500%;
  left: 10%;
  color: white;
  //color: rgb(179, 179, 179);
  }

  .author {
    top:40%;
    color: white;
    font-size: 250%;
    background-color: transparent;
  }

.learn-button {
  position:absolute;
  top: 40%;
  left: 70%;
  color: white;
  background-color: #33a1fd;
  border-radius: 15px;
  cursor: pointer;
  font-family: 'Lucida Grande', sans-serif;
  font-size: 30pt !important;
  border: 0px;
  font-weight: bold;
  opacity: .8;
  width: 50%;
  height: 20%;
  }

.learn-button:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    opacity: 1;
}

.intro-title-text {
  position: absolute;
  top: 30%;
  left:34%;
  width:50%;
  text-align: center;
  font-family: 'Lucida Grande', sans-serif;
}
.headtime {position: relative; width: 100%; margin: 0;}
.headtime img{position: relative; display: block; margin-left: auto; margin-right: auto; height: 100%; width: 100%; margin: 0 auto}
* {box-sizing: border-box}
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 400px;
  color: #fff !important;
  // filter:blur(7px)
}
.fill{
  width: 15%;
}
.column:hover {
  filter:blur(0px)
}
.column-header {
  color: #000;
  font-size: 24pt;
  text-align: center;
  font-family: 'Great Vibes', cursive !important;
  background-color: #fff;
  margin-top: 0px;
  margin-bottom: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000;
  border-bottom-width: 5px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.row:after {
  content: " ";
  display: table;
  clear: both;
}
.intro-body-text {
    border-style: solid;
    border-color: black;
    border-width: 5px;
  }
.platform-header-element {
  position: relative;
  border-style: none;
  color: #fff;
  background-color: #33a1fd;
  height: 300px;
  margin-top: -50px;
  width: 98%, center;
}
p.platform-header-text {
  position: relative;
  top: 112px;
  left: 27%;
  font-size: 50px;
  font-weight: bold;
}
.platform-header-element:after {
  background-color: #33a1fd;
  position: absolute;
  height: 50px;
  width: 50px;
  top: 100%;
  left: 50%;
  margin-left: -25px;
  content: " ";
  transform: rotate(45deg);
  margin-top: -25px;
}
.web-header {
  width:450px;
  height: 65px;
  text-align: center;
  border-style: solid;
  border-width: 3px;
  border-color: #33a1fd;
  color: #000000;
  font-family: 'Futura';
  margin: 0 auto;
  margin-bottom: 15px;
    }

.web-picture {
      height: 260px;
      font-size: bold;
      background-image: url('/assets/images/web_screenshot_0.PNG');
      background-repeat: no-repeat;
      background-size: contain;
      border-width: 2px;
      width: 450px;
      border-style: solid;
      border-color: #33a1fd;
      border-width: medium;
      margin: 0 auto;
      margin-bottom: 10px;
  }

.web-text {
    height: min-content;
    font-size: bold;
    width: 450px;
    margin-top: 20px;
    color: #034078;
    font-size: 24px;
    text-align: center;
}

.web-button {
    width: 6cm !important;
    height: 1.5cm !important;
    font-family: "Playfair Display SC", serif;
    font-size: .5cm;
    background-repeat: no-repeat;
    border: none;
    border-radius: 20px 20px 20px 20px;
    cursor: pointer;
    background-color: #33a1fd;
    font-weight: bold;
    outline: none;
    margin-top: 1cm !important;
    margin-bottom: 1cm;
    text-align: center;
    color: #fff;
    opacity: .8;
    filter: alpha(opacity=80)
}
.web-button:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  opacity: 1;
  filter: alpha(opacity=100);
}
.android-button {
  width: 6cm !important;
  height: 1.5cm !important;
  font-family: "Playfair Display SC", serif;
  font-size: .5cm;
  background-repeat: no-repeat;
  border: none;
  border-radius: 20px 20px 20px 20px;
  cursor: pointer;
  background-color: #33a1fd;
  font-weight: bold;
  outline: none;
  text-align: center;
  margin-top: 1cm !important;
  color: #fff;
  opacity: .8;
  filter: alpha(opacity=80);
  padding: 10px;
}
.android-button:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  opacity: 1;
  filter: alpha(opacity=100)
}
.android-header {
  width:90%;
  height: 65px;
  text-align: center;
  border-style: solid;
  border-width: 3px;
  border-color: #33a1fd;
  color: #000000;
  font-family: 'Futura';
  margin: 0 auto;
  margin-bottom: 15px;
  padding-top: -2px;
}
.inner-container {
    text-align: center;
    background-color: transparent;
    height: 20%
}

.android-text {
    height: min-content;
    width: 450px;
    margin-top: 20px;
    color: #034078;
    font-size: 24px;
    text-align: center;
}


.android-picture {
    height: 400px;
    font-size: bold;
    background-repeat: no-repeat;
    background-size: contain;
    width: 70%;
    font-size: 1.5cm;
    margin: 0 auto;
    border-width: 2px;
    border-style: solid;
    border-color: #33a1fd;
    margin-bottom: 10px;
}

.ios-picture {
  height: 500px;
  font-size: bold;
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  width: 50%;
  font-size: 1.5cm;
  border-width: 2px;
  border-style: solid;
  border-color: #33a1fd;
}

.ios-text {
  height: min-content;
  width: 450px;
  margin-top: 20px;
  margin-bottom: 20px !important;
  color: #034078;
  font-size: 24px;
  text-align: center;
}

.ios-header {
  width:450px;
  height: 65px;
  text-align: center;
  border-style: solid;
  border-width: 3px;
  border-color: #33a1fd;
  color: #000000;
  font-family: 'Futura';
  margin: 0 auto;
  margin-bottom: 15px;
}
.ios-button {
    width: 6cm !important;
    height: 1.5cm !important;
    font-family: "Playfair Display SC", serif;
    font-size: .5cm;
    background-repeat: no-repeat;
    border: none;
    border-radius: 20px 20px 20px 20px;
    cursor: pointer;
    background-color: #33a1fd;
    font-weight: bold;
    outline: none;
    margin-top: 1cm !important;
    text-align: center;
    color: #fff;
    opacity: .8;
    filter: alpha(opacity=80)
}
.ios-button:hover {
opacity: 1;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
filter: alpha(opacity=100)
}
