<div class="container" style="top: 0; position: relative;">
    <div class="platform-header-element">
        <p class="platform-header-text">Our Products</p>
      </div>
      <br>
      <br>
      <br>
      <div fxLayout = "row" fxLayoutAlign = "center end">
        <div class="web1-container" fxLayout="column" fxLayoutAlign = "center center" >
            <h1 class="goodvine-header">Wine Health Boost</h1>
            <img src="/assets/images/lbe5.jpg" class="web-picture" fxLayoutAlign= "center center">
        </div>
         <div class = "web2-container" fxLayout = "column" fxLayoutAlign = "center center">
           <div class = "goodvine-text" fxLayoutAlign = "end center" >
              A week's supply from whole red wine in one pocket sized squeeze bottle.
            </div>
            <button type="submit" class="web-button" (click)="onInquire('Web')">Buy Good Vine</button>
            <br/>
         </div>
      </div>
    <hr/>
    <br>
    <div fxLayout = "row" fxLayoutAlign = "center center">
    <div class = "android-container" fxLayout = "column" fxLayoutAlign = "center center">
        <div class = "eaudevin-text" fxLayout = "column" fxLayoutAlign = "center center">
           Fine wine grape juice
           <button type="submit" class="android-button" (click)="onInquire('Android')">Buy Eau de Vin</button>
        </div>
    </div>
    <div class="andoid-container" fxLayout="column" fxLayoutAlign = "center center" >
        <h1 class="eaudevin-header">Eau de Vin</h1>
        <img src="/assets/images/Eau_de_Vin_single_serving.jpg" class="eaudevin-picture" fxLayoutAlign="center">
    </div>
    </div>

</div>
