.container {
  margin-top: 100px;
}

.main-image {
  margin-top: 50px;

}

.section {
  text-align:center;
  font-size: 2.5em;
  margin-top: 100px;
}
.section p{
	width: 600px;
  margin: 0 auto;
  font-weight: bold;
}
