@import '../mixins/buttons.scss';
@import '../mixins/fonts.scss';
@import '../mixins/common.scss';


//Mixin for all of ProValens buttons
@mixin provalens-buttons($theme){
  // Pallets
  $accent-pallet: map-get($theme, accent);
  $primary-pallet: map-get($theme, primary);
  $warn-pallet: map-get($theme, warn);

  // Colors
  $accent-color: mat-color($accent-pallet);
  $primary-color: mat-color($primary-pallet);
  $warn-color: mat-color($warn-pallet);


  button:not(.round):not(.icon):not(.link):not(.menu-item):not(.clear):not(.mat-button-toggle-button):not(.mat-button):not(.mat-menu-button)  {
    @include button-square();

    /* Apply Primary colors to all buttons by default */
    &:not([disabled]):not(.grey):not(.white):not(.accent):not(.outline){
      @include button-color($primary-color,  #ffffff, $primary-color);
      &:hover {
        @include button-color(mat-color($primary-pallet, 300), #ffffff)
      }
    }

    /* Outline button style */
    &.outline:not([disabled]) {
      @include button-color(#ffffff, $accent-color, $accent-color);
      &:hover {
        @include button-color(#ffffff, mat-color($accent-pallet, 300), mat-color($accent-pallet, 300))
      }
    }

    /* Accent button style */
    &.accent:not([disabled]) {
      @include button-color($accent-color, #ffffff, $accent-color);
      &:hover {
        @include button-color(mat-color($accent-pallet, 300), #ffffff)
      }
    }

    /* White button style */
    &.white:not([disabled]) {
      @include button-color(#ffffff, rgba(26, 28, 38, 0.5));
      &:hover {
        @include button-color(#ffffff, rgba(26, 28, 38, 0.25))
      }
    }

    /* Grey button style */
    &.grey:not([disabled]) {
      @include button-color(rgba(140,141,146,.75),  #ffffff);
      &:hover {
        @include button-color(rgba(140,141,146,.5),  #ffffff)
      }
    }


    &[disabled] {
      cursor: not-allowed;
      @include button-color(#e0e0e0, #8c8d92, #e0e0e0);
    }
  }

  button.icon {
    @include button();

    &:not([disabled]):not(.accent):not(.grey):not(.white) {
      @include button-icon($primary-color);
      &:hover {
        @include button-icon(mat-color($primary-pallet, 300));
      }
    }

    /* Accent Styles */
    &.accent {
      @include button-icon($accent-color);
      &:hover {
        @include button-icon(mat-color($accent-pallet, 300));
      }
    }

    /* Grey Styles */
    &.grey {
      @include button-icon(rgba(140,141,146,.75));
      &:hover {
        @include button-icon(rgba(140,141,146,.5));
      }
    }

    /* White Styles */
    &.white {
      @include button-icon(#ffffff, rgba(26, 28, 38, 0.5));
      &:hover {
        @include button-icon(#ffffff, rgba(26, 28, 38, 0.25));
      }
    }

    &[disabled] {
      cursor: not-allowed;
      @include button-icon( #e0e0e0, #8c8d92);
      &:hover {
        cursor: not-allowed;
        @include button-icon( #e0e0e0, #8c8d92);
      }
    }

    mat-icon + * {
      margin-left: .25em;
    }
  }

  button.round {
    @include button-round();

    .mat-icon, .material-icons {
      height: 100%;
      width: 100%;
      font-size: unset;
    }
  }

  button.link {
    @include button-link();
    @include button-color(transparent, #1a1c26);

    &:hover, &:active, &.active {
      @include button-color(transparent, mat-color($primary-pallet))
    }

    &[disabled] {
      cursor: not-allowed;
      @include button-color(#e0e0e0, #8c8d92);
    }
  }

  button.clear {
    @include button();
    @include button-color(transparent, null, transparent);
    &:hover {
      @include button-color(transparent, null, transparent);
    }
    padding: 0px;
    outline: none;
  }

  button.menu-item {
    @include button($font-size-small);
    @include button-color(transparent, #1a1c26);

    &:hover, &:active {
      @include button-color(transparent, mat-color($primary-pallet))
    }
  }
}
