@import '../mixins/buttons.scss';

@mixin provalens-icons($theme) {
  // Pallets
  $accent-pallet: map-get($theme, accent);
  $primary-pallet: map-get($theme, primary);
  $warn-pallet: map-get($theme, warn);

  // Colors
  $accent-color: mat-color($accent-pallet);
  $primary-color: mat-color($primary-pallet);
  $warn-color: mat-color($warn-pallet);

  .mat-icon.round, provalens-icon.round {
    padding: .5em; //Centers the image with appropriate padding
    border-radius: 50%; //Makes button round
    height: 1em!important;
    width: 1em!important;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0.5px rgba(0, 0, 0, 0.04);
  }


  svg {
    &.primary {
      fill: mat-color($primary-pallet)!important;
    }
    &.accent {
      fill: mat-color($accent-pallet)!important;
    }
  }

  provalens-icon {
    &.primary {
      svg {
        fill: mat-color($primary-pallet)!important;
      }
    }

    #svg-container {
      svg {
        min-height: 1em;
        min-width: 1em;
        max-height: 1em;
        max-width: 1em;
      }
    }
  }
}
