<ul id="menu">
    <li class="menuLocal" data-menuanchor="nouveau"><a href="#nouveau">Who Are We?</a></li>
    <li class="menuLocal" data-menuanchor="tom"><a href="#tom">Tom</a></li>
    <li class="menuLocal" data-menuanchor="steve"><a href="#steve">Steve</a></li>
    <li class="menuLocal" data-menuanchor="julie"><a href="#julie">Julie</a></li>
    <li class="menuLocal" data-menuanchor="amanda"><a href="#amanda">Amanda</a></li>
  </ul>
<div fullpage id="fullpage2" [options]="config" (ref)="getRef($event)">
  <div
    class="section intro-container"
    style="background-color: white;"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <div class="slide" style="font-size:2.5vw;">
      <h1 style="margin-top: 10%;">What is Nouv Eau Inc.?</h1>
      <h1><a href="#nouveau/1" style="color: inherit; text-decoration: none;">=></a></h1>
    </div>
    <div class="slide" style="font-size:2.5vw;">
      <h1 style="margin-top: 10%;">Nouv'Eau is French meaning New Water</h1>
      <h1><a href="#nouveau" style="color: inherit; text-decoration: none;"><=</a>&nbsp;<a href="#nouveau/2" style="color: inherit; text-decoration: none;">=></a></h1>
    </div>
    <div class="slide" style="font-size:2.5vw;">
      <h2 style="margin-top: 10%; width: 60%; margin-left:20%;">
        We are a closely held private entrepreneurial research, development, and
        intellectual property holding company
      </h2>
      <h2><a href="#nouveau/1" style="color: inherit; text-decoration: none;"><=</a>&nbsp;<a href="#nouveau/3" style="color: inherit; text-decoration: none;">=></a></h2>
    </div>
    <div class ="slide" style="font-size:2.5vw;">
      <h3 style="margin-top: 10%; width: 60%; margin-left:20%;">
        We make a patented water from wine including proprietary patent pending
        wine health mixtures with functional ingredients such as Vitamin B's
      </h3>
      <h3><a href="#nouveau/2" style="color: inherit; text-decoration: none;"><=</a>&nbsp;<a href="#nouveau/4" style="color: inherit; text-decoration: none;">=></a></h3>
    </div>
    <div class="slide" style="font-size:2.5vw;">
      <p style="margin-top: 10%; width: 60%; margin-left:20%;">
        NouvEau demonstrates its technology and products in commercial proof of
        concept in order to license or sell its goods and assets. It is
        financing a organizational offering for a Series A Term Sheet to
        Accredited Investors to develop and sell Wine Health Boost product lines
        into consumer markets. A Prospectus requiring Accredited Investor
        Certification is available by contacting tpeyton@nouv-eau.com
      </p>
      <p><a href="#nouveau/3" style="color: inherit; text-decoration: none;"><=</a>&nbsp;<a href="#nouveau/5" style="color: inherit; text-decoration: none;">=></a></p>
    </div>
    <div class="slide" style="font-size:2vw;">
      <h4 style="margin-top: 5%; width: 60%; margin-left:20%;">A partial listing of its intellectual property includes:</h4>
      <ul style="margin-top: 3%; width: 60%; margin-left:20%;">
        <li style="margin-top: 1%;">US Patent 7569146 "By-Products from Fermentation Still Bottoms"</li>
        <li style="margin-top: 1%;">
          US Patent Pending "Composition of Matter and Method of Use for Wine
          Health Mixtures"
        </li>
        <li style="margin-top: 1%;">
          EU (FR) Patent 1748835 ""Method for Producing a Beverage from
          Fermentation Still Bottoms"
        </li>
        <li style="margin-top: 1%;">
          US Registered Trademark 5025613 and International Registered Trademark
          1320847 "Eau de Vin" (Water of Wine)
        </li>
        <li style="margin-top: 1%;">US RegisteredTrademark 5548696 "Wine Health Boost"</li>
        <li style="margin-top: 1%;">US Trademark Intent to Use "Sante' du Vin" (Health of Wine)</li>
        <li style="margin-top: 1%;">US Registered Trademark "Branch" Whisky Water</li>
      </ul>
      <h1><a href="#nouveau/4" style="color: inherit; text-decoration: none;"><=</a>&nbsp;<a href="#nouveau" style="color: inherit; text-decoration: none;">Back to Start</a></h1>
    </div>
  </div>
  <div
    class="section intro-container"
    fxLayout="column"
    fxLayoutAlign="center"
  >
    <div class="image-cropper tom-cropper">
      <img src="/assets/images/NouvEauTom.jpg" class="tom-pic" />
    </div>
    <div class="about-text" fxLayout="column" fxLayoutAlign="start">
      <div>
        Dr. Tom Peyton, Ph.D.
        <a
          target="_blank"
          href="https://www.linkedin.com/in/thomas-peyton-b84b3a57/"
          ><img src="/assets/images/In-Blue-14@2x.png"
        /></a>
      </div>
      <div style="font-size: 1.7vw; margin-bottom: 1%;">
        Founder || President & Chief Executive Officer
        <hr />
      </div>
      <div class="about-inner-text" fxLayout="column" fxLayoutAlign="center">
        Dr. Peyton is native of West Lafayette, Indiana and received his BS in
        molecular biology and PhD in Bionucleonics from the School of Pharmacy
        at Purdue Uniiversity. Starting at Stanford Research
        Institute/Engineering Systems and General Research Corporation, Dr.
        Peyton applied biotechnology to natural resource recovery systems and
        developed biotechnology for agricultural food products in the field in
        Malaysia. He then attended Purdue's Krannert School of Management and
        was Adjunct Professor of Environmental Health & Engineering at Purdue.
        He founded American Technology Management Corportation (AmTech
        Consultants) in Washington DC that provided environmental, biotechnology
        and health services to over 500 multinational clients including the US
        Congress' biotechnology program. In 2005, Dr. Peyton patented a resource
        recovery food system for fermented grain and grape distilleries that
        extracted non-alcoholic potable water and beneficial nutrient products
        and founded NouvEau Inc. to commercialize the intellectual property.
        Between 2008-2013 he formed and operated a subsidiary NouvEau France
        SARL outside of Bordeaux to advance its European technology and between
        2015-2017 commercialized the production of Eau de Vin "Water of Wine"
        from the Rhone Valley. In 2018 he invented a composition of matter and
        method of use for non-alcoholic grgape wine health mixtures as
        proprietary intellectual property (Sante' du Vin) of NouvEau with Wine
        Health Boost brand as a commercial packaged good as a concentrate liquid
        beverage enhancer, dietary supplement and ready to drink functional
        health beverage.
      </div>
    </div>
  </div>
  <div
    class="section even-person-container"
    fxLayout="column"
    fxLayoutAlign="center"
  >
    <div class="image-cropper">
      <img src="/assets/images/NouvEauSteve.jpg" class="steve-pic" />
    </div>
    <div class="about-text" fxLayout="column" fxLayoutAlign="start">
      <div>
        Steve Bruhn, CPA
        <a
          target="_blank"
          href="https://www.linkedin.com/in/steve-bruhn-cpa-a661bb5/"
          ><img src="/assets/images/In-White-14@2x.png"
        /></a>
      </div>
      <div style="font-size: 1.7vw; margin-bottom: 1%;">
        Chief Financial Officer
        <hr />
      </div>
      <div class="about-inner-text other-des" fxLayout="column" fxLayoutAlign="center">
        Steve has more than 30 years of corporate experience. He started at
        Ernst & Whitney, where he worked for seven years. He was then a tax
        manager for a Fortune 500 firm, where he spent 18 years until opening a
        private CPA practice. He has now run his business for more than 15 years
        and is a valuable team asset. He attended Michigan State University,
        where he received his BS in Accounting and his MBA in Finance.
      </div>
    </div>
  </div>
  <div
    class="section odd-person-container"
    fxLayout="column"
    fxLayoutAlign="center"
  >
    <div class="image-cropper">
      <img src="/assets/images/NouvEauJulie.jpg" class="julie-pic" />
    </div>
    <div class="about-text" fxLayout="column" fxLayoutAlign="start">
      <div>
        Julie Ginn
        <a
          target="_blank"
          href="https://www.linkedin.com/in/julie-ginn-2b17a916/"
          ><img src="/assets/images/In-Blue-14@2x.png"
        /></a>
      </div>
      <div style="font-size: 1.7vw; margin-bottom: 1%;">
        Vice President
        <hr />
      </div>
      <div class="about-inner-text other-des" fxLayout="column" fxLayoutAlign="center">
        Julie has been in commerial property investment financing since 1992.
        She has first-hand experience in all facets of owning and managing real
        estate and cash-flow management on multiple fronts. In addition to her
        development vision, Julie has excelled at creativity, and she offers
        innovative solutions to challenging situations. Julie is on the board of
        Building oncepts of Indiana and is a Licensed Real Estate Broker.
      </div>
    </div>
  </div>
  <div
    class="section even-person-container"
    fxLayout="column"
    fxLayoutAlign="center"
  >
    <div class="image-cropper amanda-cropper">
      <img src="/assets/images/NouvEauAmanda.jpg" class="amanda-pic" />
    </div>
    <div class="about-text" fxLayout="column" fxLayoutAlign="start">
      <div>
        Amanda Rumba
        <a
          target="_blank"
          href="https://www.linkedin.com/in/amanda-rumba-4b85a920/"
          ><img src="/assets/images/In-White-14@2x.png"
        /></a>
      </div>
      <div style="font-size: 1.7vw; margin-bottom: 1%;">
        Executive Officer || Corporate Secretary
        <hr />
      </div>
      <div class="about-inner-text other-des" fxLayout="column" fxLayoutAlign="center">
        Amanda brings our team together. She has 10 years of experience working
        ina variety of community and business services. She earned a master's
        degree in history from the University of Chicago, and her bachelor's
        degree in history is from Mercyhurst College. While teaching at the
        college level, she is also pursuing her PhD in history.
      </div>
    </div>
  </div>
</div>
