<ul id="menu">
  <!--<li class="menuHome"><a href="">Main Page</a></li>-->
  <li class="menuLocal" data-menuanchor="wine-health-boost"><a href="#wine-health-boost">Wine Health Boost</a></li>
	<li class="menuLocal" data-menuanchor="product"><a href="#product">Product</a></li>
	<li class="menuLocal" data-menuanchor="details"><a href="#details">Details</a></li>
	<li class="menuLocal" data-menuanchor="enhanced-content"><a href="#enhanced-content">Enhanced Content</a></li>
</ul>
<div fullpage id="fullpage2" [options]="config" (ref)="getRef($event)">
  <div class="section">
    <img data-src="/assets/images/Wine_Health_Boost_v8.jpg" style="height: 75%;">
  </div>
<div class="section"><h1>Product</h1></div>
<div class="section" style="color: whitesmoke;">
  <div class="slide">
      <p>
        MEDITERRANEANS WHO DRINK 1-2 GLASSES OF RED WINE PER DAY AS PART OF THEIR DIET LIVE OVER 5 YEARS LONGER DUE TO THE HEART BENEFITS OF THE FERMENTED GRAPE POLYPHENOLS
      </p>
  </div>
  <div class="slide">
    <p>
        1-2 GLASSES A DAY ARE RECOMMENDED BY PHYSICIANS FOR HEART HEALTH
    </p>
  </div>
  <div class="slide">
    <p>
        A CONCENTRATE OF THE FERMENTED POLYPHENOLIC EXTRACT OF RED WINE WITHOUT THE ALCOHOL FROM WHOLE WINE REDUCTION IS FORMULATED WITH PROPRIETARY PATENT PENDING INGREDIENTS
  </p>
</div>
</div>
<div class="section"><h1>Enhanced Content</h1></div>
</div>

<!-- <html>
  <head>
      <link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Unica+One&display=swap" rel="stylesheet">

  </head>
  <body>
      <div class="container" >
          <img src="assets/images/GoodVineLogo.PNG" style="width: 80%; margin-left: 10%;">
          <div style="text-align: center; width: 100%; background-color:lightsalmon; margin-bottom: 0px !important;">
            <h1 style="font-size: 10vw; margin: 0px !important;">NouvEau presents:</h1>
            <h2 style="font-size: 20vw; margin: 0px !important;">Good Vine</h2>
          </div>
          <div style="height:70vh; background-color: lightcoral; margin-top: 0px !important;">
            <h2 style="margin-left: 10%; font-size: 3.5vw;  margin-top: 0px !important;">Dr. Tom Peyton, PhD: </h2>
            <br/>
            <h4 style="width: 70%; text-align: center; margin-left:15%; font-size: 1.5vw;">One teaspoon squeeze of our proprietary blend Sante' du Vintm equals a glass of red wine benefit without alcohol with only 10% of the calories.  Made from whole red wine reduction of vineyard select fermented red grapes for better bioavailibility and a broad spectrum of the powerful polyphenolic antioxidants needed for all of red wine's non-alcoholic benefits, fifty milliliters or 1.69 fluid ounces of our proprietary wine health mixture equals 10 glasses of red wine in a pocket sized squeeze bottle to use at your convenience in any beverage, morning, noon or night for immediate and long term health maintenance.</h4>
          </div>
          <div style="height: 70vh; color: darkgrey;">
            <h1 style="font-size: 17vw; text-align: center;">10</h1><h4 style="font-size: 4vw; text-align: center;"> Glasses of Wine in one pocket-sized bottle</h4>
          </div>
          <div >
              <div style="width: 100%;">
                  <img class="glass" src="/assets/images/GLASS_OF_BORDEAUX.jpg">
                  <img class="glass" src="/assets/images/GLASS_OF_BORDEAUX.jpg">
                  <img class="glass" src="/assets/images/GLASS_OF_BORDEAUX.jpg">
                  <img class="glass" src="/assets/images/GLASS_OF_BORDEAUX.jpg">
                  <img class="glass" src="/assets/images/GLASS_OF_BORDEAUX.jpg">
                  <img class="glass" src="/assets/images/GLASS_OF_BORDEAUX.jpg">
                  <img class="glass" src="/assets/images/GLASS_OF_BORDEAUX.jpg">
                  <img class="glass" src="/assets/images/GLASS_OF_BORDEAUX.jpg">
                  <img class="glass" src="/assets/images/GLASS_OF_BORDEAUX.jpg">
                  <img class="glass" src="/assets/images/GLASS_OF_BORDEAUX.jpg">
              </div>
            </div>
          <div style="height: 70vh; color: white; background-color: gray; text-align: center;">
            <br>
            <br>
              <div style="text-align: center; width: 50%; margin-left: 25%; margin-bottom: 100px; font-size: 2vw;">
                  ~~MEDITERRANEANS WHO DRINK 1-2 GLASSES OF RED WINE PER DAY AS PART OF THEIR DIET LIVE OVER 5 YEARS LONGER DUE TO THE HEART BENEFITS OF THE FERMENTED GRAPE POLYPHENOLS. 1-2 GLASSES A DAY ARE RECOMMENDED BY PHYSICIANS FOR HEART HEALTH. A CONCENTRATE OF THE FERMENTED POLYPHENOLIC EXTRACT OF RED WINE WITHOUT THE ALCOHOL FROM WHOLE WINE REDUCTION IS FORMULATED WITH PROPRIETARY PATENT PENDING INGREDIENTS.~~
                </div>
                <a href="www.google.com"><h1>Watch Dr. Tom Peyton explain the benefits of this product.</h1></a>
          </div>
        </div>
  </body>
</html> -->
